<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="Grid Launcher">
	<meta name="Abhishekk" content="Dashboard">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/png">
    <title>Dashboard</title>

    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->

	<!-- BEGIN ANGULARJS , LAYOUT STYLE -->
    <!-- lazy:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
	<!-- END ANGULARJS , LAYOUT STYLE -->

</head>