<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="admin-themes-lab">
	<meta name="author" content="themes-lab">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/png">
    <title>SIM5 Automation Tool</title>

    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->

	<link href="plugins/metrojs/metrojs.min.css" rel="stylesheet">
	<link href="plugins/slick/slick.css" rel="stylesheet">
	<link href="plugins/icheck/skins/all.css" rel="stylesheet">
	<link href="plugins/bootstrap-tags-input/bootstrap-tagsinput.css" rel="stylesheet" />
	<link href="plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="plugins/rateit/rateit.css" rel="stylesheet" />
	<link href="plugins/colorpicker/spectrum.css" rel="stylesheet" />
	<link href="plugins/step-form-wizard/css/step-form-wizard.css" rel="stylesheet" />
	<link href="plugins/step-form-wizard/plugins/parsley/parsley.css" rel="stylesheet" />
	<link href="plugins/ion-slider/ion.rangeSlider.css" rel="stylesheet" />
	<link href="plugins/ion-slider/style.css" rel="stylesheet" />
	<link href="plugins/bootstrap-loading/lada.min.css" rel="stylesheet" />
	<link href="plugins/cke-editor/skins/bootstrapck/editor.css" rel="stylesheet" />
	<link href="plugins/summernote/summernote.css" rel="stylesheet" />
	<link href="plugins/cropper/cropper.css" rel="stylesheet" />
	<link href="plugins/magnific/magnific-popup.css" rel="stylesheet" />
	<link href="plugins/hover-effects/hover-effects.min.css" rel="stylesheet">
	<link href="plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
	<link href="plugins/prettify/prettify.css" rel="stylesheet" />
	<link href="plugins/jstree/dist/themes/default/style.css" rel="stylesheet" />
	<link href="plugins/datatables/dataTables.min.css" rel="stylesheet" />
	<link href="plugins/dropzone/dropzone.min.css" rel="stylesheet" />
	<link href="plugins/input-text/style.min.css" rel="stylesheet" />
	<link href="plugins/font-awesome-animation/font-awesome-animation.min.css" rel="stylesheet" />

	<!-- BEGIN ANGULARJS , LAYOUT STYLE -->
    <!-- lazy:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
	<!-- END ANGULARJS , LAYOUT STYLE -->

	<script src="plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	
</head>