# Node Dependency directory
node_modules

# Bower installation directory
bower_components

# Temporary development directory
.tmp

# Temporary development directory
dist

# LIB Blob files
lib/*
!lib/libhelper
lib/jf/*
!lib/jf/jfhelper

todo.txt