<div id="wrapper" style="">
    <div class="container-fluid">
        <div id="topband-contailer" class="container">
            <div class="flip">
                <div class="card">
                    <div class="face front">
                        <div class="flip-wrapper-front" style="width: 95%;">
                            <p style="background:#3f6b9c; color: white;">Grid Tests | Logger - Client</p>
                            <span class="test-metadata">
                                <span class="full-width" id="buildUrl">&#x2756;&nbsp;BuildURL:</span>
                                <span id="browser">&#x2756;&nbsp;Browser:</span>
                                <span id="host">&#x2756;&nbsp;Host:</span>
                                <span id="username">&#x2756;&nbsp;Username:</span>
                                <span id="clientIp">&#x2756;&nbsp;Client IP:</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="log-div" class="row">
            <div class="col-lg-12">
                <code id="logs">
                    <ul id="messages"></ul>
                </code>
            </div>
        </div>
    </div>
</div>

<div class="dd-menu-top">
    <div class="dropdown">
        <a class="account" >Options</a>

        <div class="submenu">
            <ul class="root">
                <li>
                    </br>
                    <a id="grid-url" href="#" title="Grid Console" target="_blank">Grid Console</a>
                </li>
                <li>
                    <a id="script-dn" href="#" title="Settings">Script Download</a>
                </li>
                <li>
                    <a id="active-tests" href="/stat" title="Tests">Active Tests</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<span>
    <label class="switch">
        <input id="auto-scroll" class="switch-input" type="checkbox" checked/>
        <span class="switch-label" data-on="Scroll" data-off="Off"></span> <span class="switch-handle"></span> </label>
</span>