    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="height: 100%">
                <li class="sidebar-brand">
                    <a href="#">
                        Grid Runner
                    </a>
                </li>
                <li>
                    <a href="#">Logger</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
                <li style="position: absolute; bottom: 20px">
                    <div id="example-animation-container" style="width: 200px; margin-left: 20px;"></div>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><></a>
                        <h3 style="width: 180px;display: inline-block;padding-left: 10px;"> Run Logs</h3>
                        </br></br>
                        <code id="logs">
                            <ul id="messages"></ul>
                        </code>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
