    <div id="wrapper" style="">
            <div class="container-fluid">
                <!---->
                <div class="container" style="width: 90%">
                    <div class="flip">
                        <div class="card">
                            <div class="face front">
                                    <div style="position: fixed;width: 100%;z-index: 9999;background: white;padding-top: 18px;height: 125px; border-bottom: 1px solid #53779f;">
                                        <p style="text-align:center; font-size:18px;margin-top: 0;font-weight: normal;padding: 5px 0;background: #cdd5de;color: black;font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;">Grid Tests | Logger - Client</p>
                                        <span class="test-metadata">
                                            <span class="full-width" id="buildUrl">&#x2756;&nbsp;BuildURL: http://grader13/qatrunk/SIM5Frame.aspx</span>
                                            <span id="browser">&#x2756;&nbsp;Browser: Chrome</span>
                                            <span id="host">&#x2756;&nbsp;Host: Hub</span>
                                            <span id="username">&#x2756;&nbsp;Username: Abhishek</span>
                                            <span id="clientIp">&#x2756;&nbsp;Client IP: 192.168.1.200</span>
                                        </span>

                                    </div>
                            </div>
                            <div class="face back">
                                <!--<div class="well well-sm inner">-->
                                    <div style="position: fixed;width: 100%;z-index: 9999;background: white;padding-top: 18px;">
                                        <div id="container" style="display: inline-block;width: 75%; height: 150px; margin: 0 auto;z-index: 99999"></div>
                                        <div id="circle-container" style="display: inline-block;width: 130px; margin: 0 20px 20px 20px;z-index: 99999"></div>
                                    </div>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <!---->
                <div id="log-div" class="row" style="margin-top: 145px;">
                    <div class="col-lg-12">
                        <!--<hr style="margin-right: 30px;margin-top: 0">-->
                        <code id="logs">
                            <ul id="messages" style="padding-right: 40px"></ul>
                        </code>
                    </div>
                </div>
            </div>
    </div>
    <div  class="open" style="z-index: 99999;top: 50px">
        <span class="cls"></span>
	    <span>
		<ul class="sub-menu">
<!--            <li style="">
                <a href="#" title="Grid Logger">Grid Logger</a>
            </li>-->
            <li>
                </br>
                <a id="grid-url" href="#" title="Grid Console" target="_blank">Grid Console</a>
            </li>
            <li>
                <a id="script-dn" href="#" title="Settings">Script Download</a>
            </li>
            <li>
                <a href="https://github.com/sim5runner/runner-grid" title="Readme" target="_blank">Readme</a>
            </li>
        </ul>
	    </span>
        <span class="cls"></span>
    </div>

    <span>
    <label class="switch" style="position: fixed; right: 15px; bottom: 10px">
        <input id="auto-scroll" class="switch-input" type="checkbox" checked/>
        <span class="switch-label" data-on="Scroll" data-off="Off"></span> <span class="switch-handle"></span> </label>
    </span>