<div id="wrapper" style="">
    <div class="container-fluid">
        <div id="topband-contailer" class="container" style="width: 100%">
            <div class="flip stat-top">
                <div class="card">
                    <div class="face front">
                        <div class="">
                            <div id="container"></div>
                            <div id="circle-container"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tests-div" class="row">
            <div class="col-lg-12">
                <code id="tests">
                    No Active Tests
                </code>
            </div>
        </div>
    </div>
</div>
<div class="dd-menu-top">
    <div class="dropdown">
        <a class="account" >Options</a>

        <div class="submenu">
            <ul class="root">
                <li>
                    <a id="grid-url" href="#" title="Grid Console" target="_blank">Grid Console</a>
                </li>
                <li>
                    <a id="script-dn" href="#" title="Settings">Script Download</a>
                </li>
                <li>
                    <a id="run-logs" href="/" title="Tests">Run Logs</a>
                </li>
            </ul>
        </div>
    </div>
</div>
