<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<sim5automation>
	<server>
		<!--url>http://sim5server/sims5020405/SIM5Frame.aspx</url-->
		<url>http://grader13/qatrunk/SIM5Frame.aspx</url>
		<username/>
		<password/>
	</server>
	<envSet>
		<env id="1">
			<host>local</host>
			<browser>iexplorer</browser>
			<browserVersion>11</browserVersion>
			<platform>WINDOWS</platform>
			<saucelabs/>
		</env>
		<env id="2">
			<host>local</host>
			<browser>chrome</browser>
			<browserVersion>46</browserVersion>
			<platform>WINDOWS</platform>
			<saucelabs/>
		</env>
		<env id="3">
			<host>saucelabs</host>
			<browser>chrome</browser>
			<browserVersion>51</browserVersion>
			<platform>WIN7</platform>
			<saucelabs>
				<buildName>Word-SEP-PEG-Vol2</buildName>
				<tagName>Word-SEP-PEG-Vol2</tagName>
				<screenResolution>1920x1200</screenResolution>
				<testName>ACCESS-SEP-PEG-Vol2</testName>
				<userName>harish_narang</userName>
				<accessKey>e7f44ecf-f5fa-4b94-833d-ce8cdef1bfc1</accessKey>
				<isAppUrlPublic>true</isAppUrlPublic>
			</saucelabs>
		</env>
		<env id="4">
			<host>hub</host>
			<browser>chrome</browser>
			<browserVersion>46</browserVersion>
			<platform>WINDOWS</platform>
			<hubIP>192.168.1.200</hubIP>
			<hubPort>4444</hubPort>
		</env>
	</envSet>
	<testSettings>
		<baseClassPath>testcase</baseClassPath>
	</testSettings>
	<tasks distributed="true" practice="off" actionScreenShot="off">
		<env id="2">
			<task>word.Test_GO16_WD_04_4A_01_A1</task>
		</env>
	</tasks>
</sim5automation>
