<!doctype html>
<html lang="en" class="no-js" ng-app="automationApp">
    {{>head}}
    <body id="body" ng-controller="AppController">

        <div class="app" id="app" ui-view></div>
		
    	{{>foot}}
    </body>
</html>